*{
  margin: 0;
  padding: 0;
}
.gradient-background {
  background: linear-gradient(250deg, #ef8172, #d54cff, #d0ff0085);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
  width: 7em;
}

.backgroudnIconFeature{
  background: linear-gradient(250deg, #7285ef, #d54cff, #ff00d485);
}

.featureKey{
  color: #ff00d4;
}

.bg-body-testimonials{ 
  background: #8400ff17;
}

.nav-prices{
  color: #db89d4;
}